:root{
    --main-color: #F28B30;
    --secundary-color: #05DBF2;
    font-size: 62.5%;
    --default-border: 0.1rem solid rgba(0, 0, 0, 0.15);
    --default-border-radius: 1.2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    font-size: 1.4rem;
}

.content{
    display: grid;
    grid-template-areas:
        ". . . . ." 
        ". dogcat . form ."
        ". dogcat . form ."
        ". . . . ."
    ;
    gap: 8.5rem;
}

main{
    grid-area: form;
}

aside{
    grid-area: dogcat;
}

aside h1{
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
    text-align: center;
}

aside h1 span {
    color: var(--main-color);
}

main{
    width: 60rem;
    height: 52rem;
    border: var(--default-border);
    padding: 4.7rem 5.7rem;
    border-radius: var(--default-border-radius);
    position: relative;
}

main h2{
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
}

main h2 span{
    color: var(--main-color);
}

main .actions{
    display: flex;
    flex-flow: column wrap;
}

main .actions a{
    border-radius: var(--default-border-radius);
    text-decoration: none;
    font-size: 2.4rem;
    height: 5.5rem;
    color: white;
    background-color: var(--secundary-color);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.4rem;
}

main .actions a + a{
    margin-top: 4.8rem;
    background-color: var(--main-color);
}

main header{
    display: flex;
    gap: 0 1.8rem;
    align-items: center;
}

main header i{
    font-size: 2.5rem;
    color: var(--main-color);
}

main footer p{
    margin-top: 8rem;
    font-size: 1.6rem;
}

main footer a{
    margin-top: 1rem;
    font-size: 1.8rem;
    text-align: center;
    display: block;
    color: #000;
}

@media only screen and (max-width: 768px) {
    /* Adicione estilos específicos para telas menores aqui */
    .content {
        grid-template-areas:
            ". . ."
            ". form ."
            ". . .";
    }

    main {
        width: 200%; 
    }
}

img {
    max-width: 100%;
    height: auto;
}

main form{
    margin-top: 1.6rem;
}

main form label{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    display: block;
}

main form input{
    width: 489px;
    height: 5.5rem;

    background: #FFFFFF;
    border: var(--default-border);
    border-radius: var(--default-border-radius);
}

main form input + button{
    position: absolute;
    right: 0;
}

